<section>
  <nb-layout>
    <nb-layout-header fixed>
      <app-nav-bar></app-nav-bar>
    </nb-layout-header>

    <nb-sidebar>
      <nb-menu tag="todoListsMenu" [items]="menuItems"></nb-menu>
      <button nb-button (click)="getSelectedItem()">Get Selected Item</button>

      <h3>Selected item: {{ selectedItem }}</h3>
    </nb-sidebar>

    <nb-layout-column>
      <h1>{{ selectedListName }}</h1>
      <nb-card *ngFor="let todo of selectedListTodos">
        <nb-card-body>
          {{ todo.text }}
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
  </nb-layout>
</section>
