<ng-template #createListDialog let-data let-ref="createListRef">
  <nb-card>
    <nb-card-header>
      Create List
    </nb-card-header>
    <nb-card-body>
      <input nbInput fullWidth [(ngModel)]="newListName" />
      <button
        nbButton
        status="primary"
        fullWidth
        (click)="closeCreateListDialog()"
      >
        Create
      </button>
    </nb-card-body>
  </nb-card>
</ng-template>
<section>
  <nb-layout>
    <nb-layout-header fixed>
      <app-nav-bar></app-nav-bar>
    </nb-layout-header>

    <nb-sidebar>
      <button
        nbButton
        outline
        fullWidth
        size="xsmall"
        status="primary"
        (click)="openCreateListDialog(createListDialog)"
      >
        New List
      </button>
      <nb-menu tag="todoListsMenu" [items]="menuItems"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
      <h1>{{ selectedListName }}</h1>
      <nb-card>
        <nb-card-body class="inline-input-card">
          <input
            type="text"
            nbInput
            fullWidth
            placeholder="New Todo"
            [(ngModel)]="newTodoText"
          />
          <button
            nbButton
            outline
            status="primary"
            size="small"
            (click)="addTodo()"
          >
            Add
          </button>
        </nb-card-body>
      </nb-card>
      <nb-card *ngFor="let todo of selectedListTodos">
        <nb-card-body class="inline-input-card">
          <nb-checkbox
            [(ngModel)]="todo.completed"
            status="success"
          ></nb-checkbox>
          <input
            type="text"
            nbInput
            fullWidth
            placeholder="New Todo"
            [(ngModel)]="todo.text"
          />
          <button nbButton outline status="danger" size="small">Delete</button>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
  </nb-layout>
</section>
